ul,li {list-style: none;}
.mui-bar-nav {
	display: flex;
	background: #2AC845;
	box-shadow: none;
	top: 0px;
	bottom: 0;
}
.mui-bar-nav>span {
	text-align: center;
	color: #fff;
	line-height: 45px;
}
.mui-bar-nav>span:nth-of-type(1) {
	flex: 6;
}
.mui-bar-nav>span:nth-of-type(2) {
	flex: 1;
	
}
.mui-bar-nav>span:nth-of-type(3) {
	flex: 1;
}
.mui-bar-nav>span:nth-of-type(3)>.iconfont,
.mui-bar-nav>span:nth-of-type(2)>.iconfont {
	font-size: 20px;
}
.mui-bar {
	height: 45px;
}
.personalInformation {						/* 个人信息 */
	height: 70px;
	display: flex;
	background: #2AC845;
}
.headSculpture {
	flex: 1;
	height: 70px;
	position: relative;
}
.headSculpture>img {
	position: absolute;
	width: 50px;
	height: 50px;
	display: block;
	right: 0;
	top: 50%;
	margin-top: -25px;
	border-radius: 50%;
	
}
.information {
	flex: 4;
	padding: 10px 10px;
}
.information>p {
	margin: 0;
	padding: 0;
	color: #fff;
	line-height: 25px;
}
.information>p>.iconfont {
	font-size: 16px;
	color: #FFFF00;
}
.topNav {
	height: 60px;
	background: #fff;
	display: flex;
	padding: 0;
	margin-top: 0;
}
.topNav>li {
	flex: 1;
}
.topNav>li>p {
	margin-bottom: 0;
	text-align: center;
}
.topNav>li>p:nth-of-type(1) {
	height: 40px;
	line-height: 40px;
}
.topNav>li>p:nth-of-type(1)>.iconfont {
	font-size: 24px;
}
.topNav>li>p:nth-of-type(2) {
	height: 20px;
	font-size: 13px;
}
.myOrder {								/* 我的订单 */
	background: #fff;
	width: 100%;
}
.myOrder>h2 {
	height: 45px;
	line-height: 45px;
	padding: 0 10px;
	font-size: 16px;
	position: relative;
	border-bottom: 1px #eee solid;
	margin: 0;
}
.myOrder>h2>span {
	height: 20px;
	line-height: 20px;
	display: block;
	position: absolute;
	width: 100px;
	font-size: 12px;
	right: 0;
	top: 50%;
	margin-top: -10px;
	font-weight: normal;
	color: #999;
}
.myOrder>ul {
	display: flex;
	height: 80px;
	padding: 10px 0;
	margin: 0;
}
.myOrder>ul li {
	flex: 1;
	margin: 0;
}
.myOrder>ul li>p {
	text-align: center;
	margin: 0;
}
.myOrder>ul li>p:first-of-type {
	height: 40px;
	line-height: 40px;
	position: relative;
}
.myOrder>ul li>p:first-of-type>b {
	position: absolute;
	display: block;
	right: 25%;
	top: 4px;
	border: 1px #2AC845 solid;
	width: 15px;
	height: 15px;
	line-height: 15px;
	text-align: center;
	font-size: 10px;
	color: #2AC845;
	font-weight: normal;
	background: #fff;
	border-radius: 50%;
}
.myOrder>ul li>p:first-of-type>.iconfont {
	font-size: 24px;
	color: #2AC845;
}
.myOrder>ul li>p:last-of-type {
	height: 20px;
	font-size: 12px;
	color: #666;
}
.tools {									/* 必备工具 */
	background: #fff;
	width: 100%;
	margin-top: 17px;
}
.tools>h2 {
	height: 45px;
	line-height: 45px;
	padding: 0 10px;
	font-size: 16px;
	position: relative;
	border-bottom: 1px #eee solid;
	margin: 0;
}
.tools>h2>span {
	height: 20px;
	line-height: 20px;
	display: block;
	position: absolute;
	width: 100px;
	font-size: 12px;
	right: 0;
	top: 50%;
	margin-top: -10px;
	font-weight: normal;
	color: #999;
}
.tools>ul {
	display: flex;
	height: 80px;
	padding: 10px 0;
	margin: 0;
	flex-wrap: wrap;
	border-bottom: 1px #eee solid;
}
.tools>ul li {
	flex: 1;
	margin: 0;
	
}
.tools>ul li>p {
	text-align: center;
	margin: 0;
}
.tools>ul li>p:first-of-type {
	height: 40px;
	line-height: 40px;
}
.tools>ul li>p:first-of-type>.iconfont {
	font-size: 24px;
	color: #2AC845;
}
.tools>ul li>p:last-of-type {
	height: 20px;
	font-size: 12px;
	color: #666;
}
