body {
	background: #f1f1f1;
}
ul,li {list-style: none;}
header {
	background: #2AC845;
	height: 44px;
	display: -webkit-flex;
	padding-top: 4px;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 9999;
}
.scan {								/* 扫一扫 */
	flex: 1;
}
.scan>p {
	width: 100%;
	height: 22px;
	line-height: 22px;
	text-align: center;
	margin-bottom: 0;
	font-size: 10px;
	color: #fff;
}
.scan>p:first-of-type>.iconfont{
	font-size: 20px;
}
.mui-search {						/* 搜索框 */
	border-radius: 5px;
	background: #fff;
	height: 34px;
	
}
.mui-search .mui-input-clear {
	margin-bottom: 0;
}
.news {								/* 消息 */
	flex: 1;
	height: 44px;
	line-height: 44px;
	text-align: center;
	position: relative;
	color: #fff;
}
.news>p {
	width: 100%;
	height: 22px;
	line-height: 22px;
	text-align: center;
	margin-bottom: 0;
	font-size: 10px;
	color: #fff;
}
.news>p:first-of-type>.iconfont{
	font-size: 20px;
}
.news>.newsSum {
	position: absolute;
	top: 5%;
	left: 60%;
	display: inline-block;
	height: 13px;
	line-height: 15px;
	border-radius: 13px;
	font-style: normal;
	font-size: 9px;
	color: #fff;
	background: #f00;
	padding: 0 3px;
}
.mui-slider {					/* 轮播图 */
	margin-top: 44px;
}
.theme {						/* 主推活动 */
	width: 100%;
}
.theme>img {
	display: block;
	width: 100%;
}
.nav {							/* 分类导航 */
	width: 100%;
	background: #fff;
	margin-top: 3px;
	padding-top: 5px;
}
.nav .navLsit {
	display: flex;
	padding-left: 0;
}
.nav .navLsit li {
	flex: 1;
	text-align: center;
	text-align: center;
	position: relative;
}
.nav .navLsit li>p:first-of-type {
	background: #2AC845;
	height: 3.5rem;
	width: 3.5rem;
	line-height: 3.5rem;
	border-radius: 30px;
	position: relative;
	margin-left: 50%;
	left: -1.75rem;
}
.nav .navLsit li>p:first-of-type>.iconfont {
	font-size: 24px;
	color: #fff;
}
.hot {									/* 热门推荐 */
	background: #fff;
}
.hotTwo {
	display: flex;
}
.hotTwo>a {
	flex: 1;
}
.hotTwo>a>dl {
	min-height: 90px;
	padding: 0 0.5rem;
	margin: 0;
	display: flex;
}
.hotTwo>a>dl dt {
	flex: 1;
}
.hotTwo>a>dl dd {
	flex: 1;
	margin-left: 0px;
}
.hotThree {
	display: flex;
}
.hotThree>a {
	flex: 1;
}
.hotThree>a>dl {
	margin: 0;
}
.hotThree>a>dl>dd {
	margin-left: 0px;
}
.hotThree>a:first-of-type {
	flex: 2;
}
.hotThree>a:first-of-type>dl {
	min-height: 90px;
	padding: 0 0.5rem;
	margin: 0;
	display: flex;
}
.hotThree>a:first-of-type>dl dt {
	flex: 1;
}
.hotThree>a:first-of-type>dl dd {
	flex: 1;
}
